<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Tutorial_L4E2Echoparameters>
            <version>0.0.1.0</version>
            <innerVersion>0</innerVersion>
        </Tutorial_L4E2Echoparameters>
    </modules>
    <global>
        <models>
            <tutorial_l4e2echoparameters>
                <class>Tutorial_L4E2Echoparameters_Model</class>
            </tutorial_l4e2echoparameters>
        </models>
        <helpers>
            <tutorial_l4e2echoparameters>
                <class>Tutorial_L4E2Echoparameters_Helper</class>
            </tutorial_l4e2echoparameters>
        </helpers>
        <blocks>
            <tutorial_l4e2echoparameters>
                <class>Tutorial_L4E2Echoparameters_Block</class>
            </tutorial_l4e2echoparameters>
        </blocks>
    </global>
    <frontend>
        <routers>
            <Tutorial_L4E2Echoparameters>
                <use>standard</use>
                <args>
                    <frontName>l4e2echoparameters</frontName>
                    <module>Tutorial_L4E2Echoparameters</module>
                </args>
            </Tutorial_L4E2Echoparameters>
        </routers>
    </frontend>
</config>